.third {
    padding: 100px 0;

    .before-and-after {
        @include flex(column, center, center, null, 40px);

        .sub-head {
            h2 {
                font-size: map-get($font-size, font-xl);
                font-family: $head-font;
                font-weight: 500;
            }
        }

        .img-container {
            width: 100%;
            .carousel-caption {
                @include flex(row, center, center, nowrap);
                h5 {
                    font-size: map-get($font-size, font-lg);
                    padding: 15px 20px;
                    background-color: map-get($colors, white);
                    color: map-get($colors, black);
                    border-radius: 20px;
                    text-align: center;
                    opacity: 0.8;
                }
            }
        }
    }
}