.more-details {
    .more-about {
        @include flex(column, space-between, center, null, 80px);
        padding-bottom: 60px;
        border-bottom: 1px solid map-get($colors, light-green-two);

        .about-part {
            @include flex(column, center, center, null, 40px);

            h1 {
                font-size: map-get($font-size, font-xl);
                font-family: $head-font;
                font-weight: 500;
                text-align: center;
            }

            p {
                font-size: map-get($font-size, font-md);
                font-weight: 300;
                color: map-get($colors, green);
                line-height: 36px;
                text-align: center;
                width: 900px;
            }
        }

        .in-box {
            @include flex(row, center, center, null, 140px);

            .box-img {
                overflow: hidden;

                img {
                    width: 700px;
                    height: 700px;
                    object-fit: cover;
                }
            }

            .content-of-box {
                @include flex(column, center, center, null, 40px);
                h1 {
                    font-size: map-get($font-size, font-xl);
                    font-family: $head-font;
                    font-weight: 500;
                }

                ul {
                    @include flex(column, center, flex-start, null, 9px);
                    li {
                        list-style: square;
                        font-size: map-get($font-size, font-md);
                        font-weight: 300;
                        color: map-get($colors, green);
                        line-height: 28px;
                    }
                }
            }
        }
    }
}