.blogs {
    margin: 60px 120px;

    .last-products {
        @include flex(column, null, null, null, 60px);

        h1 {
            font-size: map-get($font-size, font-xl);
            font-family: $head-font;
            font-weight: 500;
            text-align: left;
        }
    }
}