.desktop_nav {
    display: block;
    border-bottom: 1px solid map-get($colors, light-green-two);
    background-color: map-get($colors, light-green-one);

    @media (max-width: 1000px) {
        display: none;
    }

    .navbar {
        padding-top: 20px;
        padding-bottom: 20px;
        top: 0;

        .logo {
            @include flex(row, center, center, nowrap, null);

            img {
                width: 166px;
                height: 36px;
            }
        }

        .nav-list {
            ul {
                @include flex(row, center, center, nowrap, 40px);

                li {
                    list-style: none;

                    a {
                        font-size: map-get($font-size, font-md);
                        &:hover {
                            color: map-get($colors, green);
                            text-decoration: underline 2px map-get($colors, green);
                            transition: text-decoration 0.5s ease-in-out;
                        }
                    }
                }
            }
        }

        .user-panel {
            @include flex(row, center, center, nowrap, 20px);

            .cart {
                @include flex(row, center, center, nowrap, 10px);
                padding: 10px;
                border-radius: 20px;
                background-color: map-get($colors, light-green-two);
            }
        }
    }
}

.mobile_nav {
    display: none;
    border-bottom: 1px solid map-get($colors, light-green-two);
    background-color: map-get($colors, light-green-one);

    @media (max-width: 1000px) {
        padding: 20px 10px;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .item {
        @include flex(row, space-between, center, null, null);
    }

    .offcanvas-header {
        background-color: map-get($colors, light-green-two);
        h5 {
            font-size: map-get($font-size, font-lg);
            font-family: $head-font;
        }
    }

    .offcanvas-body {
        background-color: map-get($colors, light-green-one);

        .mobile-nav-list {
            margin-top: 20px;
            @include flex(column, center, center, null, 20px);
        }
    }
}