.seven {
    margin: 100px 0;

    .last-products {
        @include flex(column, center, center, null, 40px);

        .sub-head {
            h2 {
                font-size: map-get($font-size, font-xl);
                font-family: $head-font;
                font-weight: 500;
                text-align: center;
            }
        }

        .img-row {
            @include flex(row, center, center, nowrap, 40px);

            @media (max-width: 1200px) {
                @include flex(row, center, center, wrap, 40px);
            }

            .img-post {
                @include flex(column, null, center, null, 30px);

                .p-image {
                    position: relative;
                    overflow: hidden;

                    .image {
                        width: 450px;
                        height: 450px;
                        object-fit: cover;
                        display: block;
                        transition: 1s ease-in-out;

                        @media (max-width: 1200px) {
                            width: 300px;
                            height: 300px;
                        }
                    }

                    &:hover {
                        .image {
                            @extend .image;
                            transform: scale(1.4);
                        }
                    }

                    h4 {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        padding: 10px;
                        background-color: map-get($colors, white);
                        border-radius: 20px;
                    }
                }

                h5 {
                    font-size: map-get($font-size, font-lg);
                    font-weight: 400;
                    text-align: center;
                    letter-spacing: 0.8px;
                }

                p {
                    font-size: map-get($font-size, font-md);
                    font-weight: 300;
                    text-align: center;
                    line-height: 24px;
                    letter-spacing: 0.8px;
                }
            }
        }
    }
}