/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #F5F5ED;
  color: rgb(17, 17, 17);
  font-family: "Hanken Grotesk", sans-serif;
}

.desktop_nav {
  display: block;
  border-bottom: 1px solid rgb(230, 233, 208);
  background-color: #F5F5ED;
}
@media (max-width: 1000px) {
  .desktop_nav {
    display: none;
  }
}
.desktop_nav .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
}
.desktop_nav .navbar .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.desktop_nav .navbar .logo img {
  width: 166px;
  height: 36px;
}
.desktop_nav .navbar .nav-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}
.desktop_nav .navbar .nav-list ul li {
  list-style: none;
}
.desktop_nav .navbar .nav-list ul li a:hover {
  color: rgb(41, 66, 51);
  -webkit-text-decoration: underline 2px rgb(41, 66, 51);
          text-decoration: underline 2px rgb(41, 66, 51);
  transition: -webkit-text-decoration 0.5s ease-in-out;
  transition: text-decoration 0.5s ease-in-out;
  transition: text-decoration 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
}
.desktop_nav .navbar .user-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.desktop_nav .navbar .user-panel .cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(230, 233, 208);
}

.mobile_nav {
  display: none;
  border-bottom: 1px solid rgb(230, 233, 208);
  background-color: #F5F5ED;
}
@media (max-width: 1000px) {
  .mobile_nav {
    padding: 20px 10px;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}
.mobile_nav .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .line {
  margin-top: 40px;
  background-color: rgb(230, 233, 208);
  padding: 25px;
}
footer .line marquee p {
  display: inline-block;
  color: rgb(41, 66, 51);
  font-size: 18px;
  padding: 5px;
}
footer .line marquee i {
  color: rgb(41, 66, 51);
  font-size: 18px;
}
footer .other-links {
  background-color: rgb(41, 66, 51);
  border-bottom: 1px solid #F5F5ED;
  padding: 100px 0;
}
footer .other-links .assos-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  footer .other-links .assos-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
  }
}
footer .other-links .assos-links .link-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .other-links .assos-links .link-list h2 {
  color: #F5F5ED;
  font-size: 24px;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
}
footer .other-links .assos-links .link-list h2 a {
  color: #F5F5ED;
  font-size: 24px;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
}
footer .other-links .assos-links .link-list p {
  color: #F5F5ED;
  font-size: 18px;
  line-height: 26px;
}
footer .other-links .assos-links .link-list p a {
  color: #F5F5ED;
  font-size: 18px;
}
footer .other-links .assos-links .link-list .email-input {
  border-bottom: 1.5px solid rgb(230, 233, 208);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .other-links .assos-links .link-list .email-input input {
  border: none;
  background-color: rgb(41, 66, 51);
  padding: 20px;
  color: #F5F5ED;
}
footer .other-links .assos-links .link-list .email-input input:focus {
  outline: none;
  border: none;
}
footer .other-links .assos-links .link-list .email-input input::-moz-placeholder {
  font-size: 18px;
  color: #F5F5ED;
}
footer .other-links .assos-links .link-list .email-input input::placeholder {
  font-size: 18px;
  color: #F5F5ED;
}
footer .other-links .assos-links .link-list .email-input i {
  color: rgb(230, 233, 208);
  font-size: 24px;
}
footer .other-links .assos-links .link-list .link-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
footer .other-links .assos-links .link-list .link-icons i {
  color: rgb(230, 233, 208);
  font-size: 24px;
}
footer .policy {
  background-color: rgb(41, 66, 51);
  padding: 25px;
}
footer .policy .policy-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  footer .policy .policy-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
footer .policy .policy-line .last-line {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
@media (max-width: 1200px) {
  footer .policy .policy-line .last-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
  }
}
footer .policy .policy-line .last-line p {
  color: #F5F5ED;
  font-size: 18px;
}
footer .policy .policy-line .last-line a {
  color: #F5F5ED;
  font-size: 18px;
}
footer .policy .policy-line .payment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer .policy .policy-line .payment img {
  width: 396px;
  height: 54px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  padding: 20px;
  background-color: #F5F5ED;
  border: 1px solid rgb(41, 66, 51);
  border-radius: 40px;
  width: 200px;
}
.btn:hover {
  background-color: rgb(41, 66, 51);
  color: white;
  border: 1px solid rgb(41, 66, 51);
}

.action-btn {
  padding: 5px;
  background-color: white;
  border: none;
  font-size: 24px;
}
.action-btn:hover {
  cursor: pointer;
  background-color: gray;
  transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 18px;
}
a:hover {
  color: rgb(41, 66, 51);
}

.blogs {
  margin: 100px 0;
}
@media (max-width: 1000px) {
  .blogs {
    margin: 60px 0;
  }
}
.blogs .last-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.blogs .last-products .sub-head h2 {
  font-size: 40px;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  text-align: center;
}
.blogs .last-products .img-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
@media (max-width: 1200px) {
  .blogs .last-products .img-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.blogs .last-products .img-row .img-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.blogs .last-products .img-row .img-post .p-image {
  position: relative;
  overflow: hidden;
}
.blogs .last-products .img-row .img-post .p-image .image, .blogs .last-products .img-row .img-post .p-image:hover .image {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 1s ease-in-out;
}
@media (max-width: 1000px) {
  .blogs .last-products .img-row .img-post .p-image .image, .blogs .last-products .img-row .img-post .p-image:hover .image {
    width: 100%;
    height: auto;
  }
}
.blogs .last-products .img-row .img-post .p-image:hover .image {
  transform: scale(1.4);
}
.blogs .last-products .img-row .img-post .p-image h4 {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}
.blogs .last-products .img-row .img-post h5 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.8px;
}
@media (max-width: 1000px) {
  .blogs .last-products .img-row .img-post h5 {
    font-size: 18px;
  }
}
.blogs .last-products .img-row .img-post p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.8px;
}
@media (max-width: 1000px) {
  .blogs .last-products .img-row .img-post p {
    font-size: 16px;
  }
}

.name .back-img {
  overflow: hidden;
  position: relative;
}
.name .back-img .green-img {
  width: 100vw;
  background-color: rgb(230, 233, 208);
  height: 300px;
}
@media (max-width: 1000px) {
  .name .back-img .green-img {
    height: 250px;
  }
}
.name .back-img .back-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.name .back-img .back-img-text h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 40px;
  color: rgb(17, 17, 17);
  font-weight: 500;
}
@media (max-width: 1000px) {
  .name .back-img .back-img-text h1 {
    font-size: 24px;
  }
}
.name .back-img .back-img-text p {
  color: rgb(17, 17, 17);
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 1000px) {
  .name .back-img .back-img-text p {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */